/* General styling with background image */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('website-8305451_1280.webp') no-repeat center center fixed;
    background-size: cover;
    color: #333;
}

/* Header styling */
header {
    background-color: rgba(92, 222, 89,0.8); /* Adding transparency */
    color: white;
    text-align: center;
    padding: 1em;
}

h1 {
    margin: 0;
}

/* Navigation menu styling */
nav {
    background-color: rgba(51, 51, 51, 0.8);
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
   

nav ul li {
    margin: 10px 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

nav ul li a:hover {
    color: #058b61;
}

/* Section styling */
section {
    padding: 2em;
    text-align: center;
   background-color: rgba(255, 255, 255, 0.8); /* Adding a light background for readability */
    margin: 2em;
    border-radius: 10px;
    color: black;
    margin-top: 20px;
}
section h2{
 text-decoration: underline;
 color: #4CAF50;
 
}

/* Footer styling */
footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;

}


